@page
@using Consuela.Service.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Consuela management interface</h1>
    <ul>
        <li><a href="~/ProfileView">View Profile</a></li>
        <li><a href="~/ProfileEdit">Edit Profile</a></li>
        <li><a href="~/AppSettingsEdit">Edit AppSettings</a></li>
    </ul>
</div>
<hr />
<div class="text-center">
    <img src="images/Consuela.webp" />
</div>
