@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Consuela management interface</h1>
    <a href="~/ProfileView">View Profile</a>
    <a href="~/ProfileEdit">Edit Profile</a>
</div>
