@page
@using Consuela.Service.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Consuela management interface</h1>
    <ul>
        <li><a href="~/ProfileView">View Profile</a></li>
        <li><a href="~/ProfileEdit">Edit Profile</a></li>
        <li><a href="~/AppSettingsEdit">Edit AppSettings</a></li>
    </ul>
</div>
<hr />
<div class="text-center">
    <img src="images/Consuela.webp" />
</div>
<div class="text-center">
    <h1>
        Next Run: @Html.DisplayTextFor(m => m.NextRun)
    </h1>
    <h1>
        Last Run: @Html.DisplayTextFor(m => m.LastRun)
    </h1>
    @* Need to button debounce here. Disable the submit button upon pressing. Maybe pop up a picture of consuela "I clean" *@
    <form method="post" id="executeNowForm">
        <button type="submit">Execute now</button>
    </form>
</div>
