@page
@using Consuela.Entity;
@model Consuela.Service.Pages.ProfileEditModel
@{
    var profile = Model.Profile;
    var i = 0;
}
<script src="~/js/ProfileEditService.js"></script>
<fieldset>
    <legend>Ignore</legend>
    <ul>
        <li>Files and directories to ignore</li>
        <li>Files can be exact naming or use a star pattern</li>
        <li>Directories are absolute paths</li>
        <li>Case sensitivity applies to both Files and Directories</li>
    </ul>
    <h4>Files</h4>
    <input id="txtAddIgnoreFile" type="text" /> <button onclick="btnAddIgnoreFileOnClick()">Add</button><br/>
    <table class="form-control table table-striped table-secondary">
        <thead>
            <tr>
                <th>File pattern</th>
                <th>X</th>
            </tr>
        </thead>
        <tbody id="tbodyIgnoreFiles">
            @foreach(var file in profile.Ignore.Files)
            {
                <tr id="trIgnoreFiles_E@(i)">
                    <td>@(file)</td>
                    <td><button onclick="btnRemoveItemOnClick('trIgnoreFiles_E@(i)')">X</button></td>
                </tr>

                i++;
            }
        </tbody>
    </table>
    <h4>Directories</h4>
    <input id="txtAddIgnoreDirectory" type="text" size="100" /> <button onclick="btnAddIgnoreDirectoryOnClick()">Add</button><br/>
    <table class="form-control table table-striped table-secondary">
        <thead>
            <tr>
                <th>Absolute paths</th>
                <th>X</th>
            </tr>
        </thead>
        <tbody id="tbodyIgnoreDirectories">
            @{ i = 0; }

            @foreach(var dir in profile.Ignore.Directories)
            {
                <tr id="trIgnoreDirectories_E@(i)">
                    <td>@(dir)</td>
                    <td><button onclick="btnRemoveItemOnClick('trIgnoreDirectories_E@(i)')">X</button></td>
                </tr>
             
                i++;
            }
        </tbody>
    </table>
</fieldset>
<hr/>
<fieldset>
    <legend>Audit</legend>
    <ul>
        <li>Audit is turned on by default</li>
        <li>Specify where to save audit files</li>
        <li>Specify how long audit files should be kept</li>
    </ul>
    <label>Disable:</label>&nbsp;@Html.CheckBoxFor(m => m.Profile.Logging.Disable)<br/>
    <label>Path:</label>&nbsp;@Html.TextBoxFor(m => m.Profile.Logging.Path, new { size = 100})<br/>
    <label>Retention:</label>&nbsp;<input data-val="true" data-val-required="The RetentionDays field is required." id="Profile_Logging_RetentionDays" name="Profile.Logging.RetentionDays" type="number" value="30" class="numberInput"> Days
</fieldset>
<hr/>
<fieldset>
    <legend>Delete</legend>
    <ul>
        <li>Files and directories to scan for old files to delete</li>
        <li>Specify how old files should be before they are deleted</li>
        <li>Specify how often the service should be deleting files</li>
    </ul>
    <label>Max Age: </label>&nbsp;<input data-val="true" data-val-required="The FileAgeThreshold field is required." id="Profile_Delete_FileAgeThreshold" name="Profile.Delete.FileAgeThreshold" type="number" value="30" class="numberInput"> Days<br/>
    <label>Frequency: </label>&nbsp;@Html.DropDownListFor(m => m.Profile.Delete.Schedule, Html.GetEnumSelectList(typeof(ScheduleFrequency)))<br/>
    <h4>Paths</h4>
    <label>Path</label><input id="txtAddDeletePath" type="text" /><br/>
    <label>Pattern</label><input id="txtAddDeletePattern" type="text" /><br/>
    <button onclick="btnAddDeletePathsOnClick()">Add</button><br/>
    <table class="form-control table table-striped table-secondary">
        <thead>
            <tr>
                <th>Search path</th>
                <th>Search pattern</th>
                <th>X</th>
            </tr>
        </thead>
        <tbody id="tbodyDeletePaths">
            @{ i = 0; }

            @foreach(var pp in profile.Delete.Paths)
            {

                <tr id="trDeletePaths_E@(i)">
                    <td>@(pp.Path)</td>
                    <td>@(pp.Pattern)</td>
                    <td><button onclick="btnRemoveItemOnClick('trDeletePaths_E@(i)')">X</button></td>
                </tr>
             
                i++;
            }
        </tbody>
    </table>
</fieldset>
<hr />
<a href="~/ProfileView">Back</a>
